$color-black: #000000;

$color-sunset-orange: rgba(250, 187, 60, 1);

$color-green-light: rgba(35, 105, 68, 1);

$color-grey-blue: rgba(222, 237, 250, 1);
$color-light-grey-1: rgba(128,128,128,1);


//reds
$color-red-dark: #780e0e;
$color-normal-red: #e32222;
$color-red-orange-1: rgba(153, 69, 20, 1);


$color-violet: rgba(159, 52, 235, .95);
